In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D
import json, os, glob, re

import matplotlib
matplotlib.rcParams['text.usetex'] = True
matplotlib.rcParams['text.latex.preamble'] = [
    r'\usepackage{amsmath}',
    r'\usepackage{amssymb}']

from matplotlib import rc
rc("text", usetex=False)

import seaborn as sns
sns.set_style("whitegrid")

/tmp/ipykernel_104590/305758703.py:9: MatplotlibDeprecationWarning: Support for setting an rcParam that expects a str value to a non-str value is deprecated since 3.5 and support will be removed two minor releases later.
  matplotlib.rcParams['text.latex.preamble'] = [

In [2]:
path = './results/results_imagenet/'

list_dir = []

for file in glob.glob(path + '*.json'):
    with open(file) as f:
        data = json.load(f)
        list_dir.append(data)
        
df = pd.DataFrame(list_dir)
# print(df.columns)
# df

# Top 1 accuracy

In [3]:
keys = ['dataset','extractor','transformation_type', 'epochs', 'batch_size','learning_rate', 'eta', 'lamda']
measure = ['baseline_indist_acc_no_sp_corr', 'PISCO_indist_acc_no_sp_corr', 'baseline_ood_acc_no_sp_corr','PISCO_ood_acc_no_sp_corr']

variables = {}
for index in measure:
    variables[index] = ['mean']
# summary = df.groupby(keys, as_index=False).agg(variables)
summary1 = df.groupby(keys, as_index=False).agg(variables)
summary1 = summary1[summary1.eta==0.95]
summary1 = summary1[summary1.batch_size==32768] #8192,32768
summary1 = summary1[summary1.learning_rate==0.0001]
summary1 = summary1[summary1.epochs==50]

summary1_lamda1 = summary1[summary1.lamda==1]
summary1_lamda10 = summary1[summary1.lamda==10]
summary1_lamda50 = summary1[summary1.lamda==50]


# summary1

In [4]:
# Generating table for latex for top-1 accuracies 
# ***************
baseline_ood_no_sp_corr_mean = summary1_lamda1.baseline_ood_acc_no_sp_corr["mean"]
lamda1_PISCO_ood_no_sp_corr_mean = summary1_lamda1.PISCO_ood_acc_no_sp_corr["mean"]
lamda10_PISCO_ood_no_sp_corr_mean = summary1_lamda10.PISCO_ood_acc_no_sp_corr["mean"]
lamda50_PISCO_ood_no_sp_corr_mean = summary1_lamda50.PISCO_ood_acc_no_sp_corr["mean"]

baseline_indist_acc_lamda1 = list(summary1_lamda1.baseline_indist_acc_no_sp_corr["mean"].apply("{:.3f}".format))[0]
pisco_indist_acc_lamda1 = list(summary1_lamda1.PISCO_indist_acc_no_sp_corr["mean"].apply("{:.3f}".format))[0]
pisco_indist_acc_lamda10 = list(summary1_lamda10.PISCO_indist_acc_no_sp_corr["mean"].apply("{:.3f}".format))[0]
pisco_indist_acc_lamda50 = list(summary1_lamda50.PISCO_indist_acc_no_sp_corr["mean"].apply("{:.3f}".format))[0]


columns = ["Transformation"]
table1 = pd.DataFrame(list(summary1_lamda1.transformation_type)+["none"], columns=columns)
table1['Baseline (ResNet 50)'] = list(baseline_ood_no_sp_corr_mean)+ [baseline_indist_acc_lamda1]
# table1['Baseline (ResNet 50)'] = list(baseline_ood_no_sp_corr_mean.apply("{:.3f}".format)+ '$\pm$' + 
#                                      baseline_ood_no_sp_corr_std.apply("{:.3f}".format))
table1['PISCO,'+r' $\lambda = 1$'] = list(lamda1_PISCO_ood_no_sp_corr_mean)+ [pisco_indist_acc_lamda1]
table1['PISCO,'+r' $\lambda = 10$'] = list(lamda10_PISCO_ood_no_sp_corr_mean)+ [pisco_indist_acc_lamda10]
table1['PISCO,'+r' $\lambda = 50$'] = list(lamda50_PISCO_ood_no_sp_corr_mean)+ [pisco_indist_acc_lamda50]

display(table1)

# print(table1.to_latex(escape=False, column_format='l' + 'c'*len(table1.columns)))

,Transformation,Baseline (ResNet 50),"PISCO, $\lambda = 1$","PISCO, $\lambda = 10$","PISCO, $\lambda = 50$"
0,dog_sketch_val,0.51564,0.54638,0.53384,0.53242
1,girl_sketch_val,0.47774,0.51832,0.50574,0.50424
2,picasso_dog_val,0.4454,0.49972,0.4862,0.48524
3,picasso_original_val,0.47352,0.5141,0.5051,0.50378
4,none,0.757,0.749,0.745,0.745

# Top 5 Accuracy

In [5]:

keys = ['dataset','extractor','transformation_type', 'epochs', 'batch_size','learning_rate', 'eta', 'lamda']
measure = ['baseline_indist_t5_acc_no_sp_corr', 'PISCO_indist_t5_acc_no_sp_corr', 
           'baseline_ood_t5_acc_no_sp_corr','PISCO_ood_t5_acc_no_sp_corr']

variables = {}
for index in measure:
    variables[index] = ['mean']
summary2 = df.groupby(keys, as_index=False).agg(variables)
summary2 = summary2[summary2.eta==0.95]
summary2 = summary2[summary2.batch_size==32768]
summary2 = summary2[summary2.learning_rate==0.0001]
summary2 = summary2[summary2.epochs==50]



summary2_lamda1 = summary2[summary2.lamda==1]
summary2_lamda10 = summary2[summary2.lamda==10]
summary2_lamda50 = summary2[summary2.lamda==50]

# summary2

In [6]:
#  Generating table for latex for top-5 accuracies   
# ***************
baseline_ood_no_sp_corr_mean_t5 = summary2_lamda1.baseline_ood_t5_acc_no_sp_corr["mean"]
lamda1_PISCO_ood_no_sp_corr_mean_t5 = summary2_lamda1.PISCO_ood_t5_acc_no_sp_corr["mean"]
lamda10_PISCO_ood_no_sp_corr_mean_t5 = summary2_lamda10.PISCO_ood_t5_acc_no_sp_corr["mean"]
lamda50_PISCO_ood_no_sp_corr_mean_t5 = summary2_lamda50.PISCO_ood_t5_acc_no_sp_corr["mean"]

baseline_indist_t5_acc_lamda1 = list(summary2_lamda1.baseline_indist_t5_acc_no_sp_corr["mean"].apply("{:.3f}".format))[0]
pisco_indist_t5_acc_lamda1 = list(summary2_lamda1.PISCO_indist_t5_acc_no_sp_corr["mean"].apply("{:.3f}".format))[0]
pisco_indist_t5_acc_lamda10 = list(summary2_lamda10.PISCO_indist_t5_acc_no_sp_corr["mean"].apply("{:.3f}".format))[0]
pisco_indist_t5_acc_lamda50 = list(summary2_lamda50.PISCO_indist_t5_acc_no_sp_corr["mean"].apply("{:.3f}".format))[0]

columns = ["Transformation"]
table2 = pd.DataFrame(list(summary2_lamda1.transformation_type)+["none"], columns=columns)
table2['Baseline (ResNet 50)'] = list(baseline_ood_no_sp_corr_mean_t5)+[baseline_indist_t5_acc_lamda1]
# table1['Baseline (ResNet 18)'] = list(z_ood_no_sp_corr_mean.apply("{:.3f}".format)+ '$\pm$' + 
#                                      z_ood_no_sp_corr_std.apply("{:.3f}".format))
table2['PISCO,'+r' $\lambda = 1$'] = list(lamda1_PISCO_ood_no_sp_corr_mean_t5)+[pisco_indist_t5_acc_lamda1]
table2['PISCO,'+r' $\lambda = 10$'] = list(lamda10_PISCO_ood_no_sp_corr_mean_t5)+[pisco_indist_t5_acc_lamda10]
table2['PISCO,'+r' $\lambda = 50$'] = list(lamda50_PISCO_ood_no_sp_corr_mean_t5)+[pisco_indist_t5_acc_lamda50]

display(table2)

# print(table2.to_latex(escape=False, column_format='l' + 'c'*len(table1.columns)))

,Transformation,Baseline (ResNet 50),"PISCO, $\lambda = 1$","PISCO, $\lambda = 10$","PISCO, $\lambda = 50$"
0,dog_sketch_val,0.75168,0.77742,0.7513,0.74952
1,girl_sketch_val,0.71236,0.75176,0.72344,0.7188
2,picasso_dog_val,0.68584,0.7383,0.7054,0.70242
3,picasso_original_val,0.70618,0.74652,0.72062,0.71806
4,none,0.927,0.921,0.917,0.916

# Final combined table

In [7]:
# add_top_column function from https://stackoverflow.com/questions/51021468/can-sub-columns-be-created-in-a-pandas-data-frame
def add_top_column(df, top_col, inplace=False):
    if not inplace:
        df = df.copy()
    
    df.columns = pd.MultiIndex.from_product([[top_col], df.columns])
    return df


columns = ["Transformation"]
df1 = pd.DataFrame(list(summary1_lamda1.transformation_type)+["none"], columns=columns)

# Baseline (ResNet 50)
df2 = pd.DataFrame(list(baseline_ood_no_sp_corr_mean.apply("{:.3f}".format))+[baseline_indist_acc_lamda1], columns=['Top-1'])
df2['Top-5'] = list(baseline_ood_no_sp_corr_mean_t5.apply("{:.3f}".format))+[baseline_indist_t5_acc_lamda1]
df2 = add_top_column(df2, 'Baseline (ResNet 50)')

# PISCO (lambda = 1)
df3 = pd.DataFrame(list(lamda1_PISCO_ood_no_sp_corr_mean.apply("{:.3f}".format))+[pisco_indist_acc_lamda1], columns=['Top-1'])
df3['Top-5'] = list(lamda1_PISCO_ood_no_sp_corr_mean_t5.apply("{:.3f}".format))+[pisco_indist_t5_acc_lamda1]
df3 = add_top_column(df3, 'PISCO,'+r' $\lambda = 1$')

# PISCO (lambda = 10)
df4 = pd.DataFrame(list(lamda10_PISCO_ood_no_sp_corr_mean.apply("{:.3f}".format))+[pisco_indist_acc_lamda10], columns=['Top-1'])
df4['Top-5'] = list(lamda10_PISCO_ood_no_sp_corr_mean_t5.apply("{:.3f}".format))+[pisco_indist_t5_acc_lamda10]
df4 = add_top_column(df4, 'PISCO,'+r' $\lambda = 10$')

# PISCO (lambda = 50)
df5 = pd.DataFrame(list(lamda50_PISCO_ood_no_sp_corr_mean.apply("{:.3f}".format))+[pisco_indist_acc_lamda50], columns=['Top-1'])
df5['Top-5'] = list(lamda50_PISCO_ood_no_sp_corr_mean_t5.apply("{:.3f}".format))+[pisco_indist_t5_acc_lamda50]
df5 = add_top_column(df5, 'PISCO,'+r' $\lambda = 50$')


table3 = pd.concat([df2, df3, df4, df5], axis=1)

table3["Style"] = list(summary1_lamda1.transformation_type)+["none"]

# shift column 'Style' to first position
first_column = table3.pop('Style')
  
# insert column using insert(position,column_name,first_column) function
table3.insert(0, 'Style', first_column)


display(table3)

# print latex code for the generated table
print(table3.to_latex(escape=False, column_format='l' + 'c'*len(table3.columns)))

                  Style Baseline (ResNet 50)        PISCO, $\lambda = 1$  \
                                       Top-1  Top-5                Top-1
0        dog_sketch_val                0.516  0.752                0.546
1       girl_sketch_val                0.478  0.712                0.518
2       picasso_dog_val                0.445  0.686                0.500
3  picasso_original_val                0.474  0.706                0.514
4                  none                0.757  0.927                0.749

         PISCO, $\lambda = 10$        PISCO, $\lambda = 50$
   Top-5                 Top-1  Top-5                 Top-1  Top-5
0  0.777                 0.534  0.751                 0.532  0.750
1  0.752                 0.506  0.723                 0.504  0.719
2  0.738                 0.486  0.705                 0.485  0.702
3  0.747                 0.505  0.721                 0.504  0.718
4  0.921                 0.745  0.917                 0.745  0.916

\begin{tabular}{lccccccccc}
\toprule
{} &                 Style & \multicolumn{2}{l}{Baseline (ResNet 50)} & \multicolumn{2}{l}{PISCO, $\lambda = 1$} & \multicolumn{2}{l}{PISCO, $\lambda = 10$} & \multicolumn{2}{l}{PISCO, $\lambda = 50$} \\
{} &                Top-1 &  Top-5 &                Top-1 &  Top-5 &                 Top-1 &  Top-5 &                 Top-1 &  Top-5 \\
\midrule
0 &        dog_sketch_val &                0.516 &  0.752 &                0.546 &  0.777 &                 0.534 &  0.751 &                 0.532 &  0.750 \\
1 &       girl_sketch_val &                0.478 &  0.712 &                0.518 &  0.752 &                 0.506 &  0.723 &                 0.504 &  0.719 \\
2 &       picasso_dog_val &                0.445 &  0.686 &                0.500 &  0.738 &                 0.486 &  0.705 &                 0.485 &  0.702 \\
3 &  picasso_original_val &                0.474 &  0.706 &                0.514 &  0.747 &                 0.505 &  0.721 &                 0.504 &  0.718 \\
4 &                  none &                0.757 &  0.927 &                0.749 &  0.921 &                 0.745 &  0.917 &                 0.745 &  0.916 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_104590/4289023181.py:48: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(table3.to_latex(escape=False, column_format='l' + 'c'*len(table3.columns)))